image: ralfjung/opam-ci:latest

stages:
  - build
  - opam

variables:
  CPU_CORES: "9"

.template: &template
  stage: build
  tags:
  - fp-timing
  script:
  # prepare
  - . build/opam-ci.sh coq "$COQ_VERSION" coq-mathcomp-ssreflect "$SSR_VERSION"
  - env | egrep '^(CI_BUILD_REF|CI_RUNNER)' > build-env.txt
  # build
  - 'time make -k -j$CPU_CORES TIMED=y 2>&1 | tee build-log.txt'
  - 'if fgrep Axiom build-log.txt >/dev/null; then exit 1; fi'
  - 'cat build-log.txt | egrep "[a-zA-Z0-9_/-]+ \((real|user): [0-9]" | tee build-time.txt'
  - 'if test -n "$VALIDATE" && (( RANDOM % 10 == 0 )); then make validate; fi'
  cache:
    key: "coq.$COQ_VERSION-ssr.$SSR_VERSION"
    paths:
    - opamroot/
  only:
  - master
  - /^ci/

opam:
  stage: opam
  script:
  # Send a trigger to the repository doing the work
  - curl --fail -X POST -F "token=$OPAM_UPDATE_SECRET" -F "ref=master" -F "variables[REPO]=${CI_PROJECT_URL}.git" -F "variables[REF]=$CI_COMMIT_REF_NAME" -F "variables[SHA]=$CI_COMMIT_SHA" -F "variables[NAME]=$OPAM_PKG" https://gitlab.mpi-sws.org/api/v3/projects/581/trigger/builds
  variables:
  - OPAM_PKG=coq-iris
  only:
  - master

build-coq8.7:
  <<: *template
  variables:
    COQ_VERSION: "8.7.dev"
    SSR_VERSION: "dev"

build-coq8.6.1:
  <<: *template
  variables:
    COQ_VERSION: "8.6.1"
    SSR_VERSION: "1.6.1"
    VALIDATE: "1"
  artifacts:
    paths:
    - build-time.txt
    - build-env.txt
